<section id="accordions">
<div class="container">
    <div class="full-width">
        <div class="small-padding">
            <h2 class="pink-underline small-bottom-padding">Account Information</h2>
            
            <div class="accordion round-corners light-pink-background">
                <div class="accordion-headline">
                    <h4><%=@user.name %>&apos;s Info</h4>
                </div>
                <div class="accordion-content">
                    Name: <%=@user.name%> </br> 
                    Email: <%=@user.email%> </br>
                    Gender: <%=@user.gender%> </br> 
                    Date of Birth: <%=@user.date_of_birth%>
                </div>
            </div>
            
            <div class="accordion round-corners light-green-background">
                <div class="accordion-headline">
                    <h4>Allergies</h4>
                </div>
                <div class="accordion-content">
                <ul>
                  <% if @user.allergies.present? %>
                    <% @user.allergies.each do |allergy| %>
                      <li> <%=allergy.name%></li>
                      <%end%>
                   <% end %>
                </ul> 
                </div>
            </div>
            
            <div class="accordion round-corners light-blue-background">
                <div class="accordion-headline">
                    <h4>Symptoms</h4>
                </div>
              <div class="accordion-content">
                Symptoms: <%=@visit.symptom%> </br>
                Symptom Date: <%=@visit.symptom_date%> </br>
              </div>
            </div>
            
        </div>
    </div>
</div>
</section>
