<section id="forms">
                    <div class="container">
                        <div class="full-width">
                            <div class="small-padding">
                                <h2 class="blue-underline small-bottom-padding">Forms</h2>
                            </div>
                        </div>
                        <div class="third">
                            <div class="small-padding">
                                <h3>Fill Out This Form</h3>
                                <form method="POST" action="/account" >
   
                                    <label>Name *</label>
                                    <input name="first_name" value="<%=@user.name%>" type="text" placeholder="Emily Doe">
                                    
                                    <label>Email *</label>
                                    <input name="email" value="<%=@user.email%>" type="email" placeholder="emily@example.com">
                                    

                                    
                                    <label>Gender *</label>
                                    <input name="gender" value="<%=@user.gender%>" type="text" placeholder="Female">

   
                                    <label>Allergies *</label><br>
                                    <% Allergy.all.each do |allergy| %>
                                      <input name="allergy[]" value="<%=allergy.id%>" type="checkbox"> <%=allergy.name %> <br>       
             
                                      <% end %>                             
                                    <label>Symptoms</label>
                                    <textarea name="symptoms"></textarea>
                                    
                                    <label>Date of Birth</label>
                                    <input name ="date_of_birth" value="<%=@user.date_of_birth%>" type="date"
                                        value="2018-07-22"
                                        min="1900-01-01" max="2018-12-31">
                                    
                                    <input type="submit" value="Submit">
                                </form>
                            </div>
                        </div>
        <section>